Backend/.env
*.env
Backend/node_modules/
Frontend/node_modules/
ML/outputs/*.parquet
ML/datos/*.fit
ML/datos/*.gz
ML/outputs/
**/__pycache__/
*.pyc
ML/api/src/models/*.keras
ML/api/src/models/*.pkl
ML/outputs/dataset_features.csv
ML/outputs/dataset_limpio.csv